<!doctype html>
<html lang="en">

<head>
    <title>{% block title %}Welcome to the Advertising page{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {% endblock %}
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {

            padding: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 2px;
            color: lightgray;

        }

        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }

        /* Add a background color and some padding to the footer */
        footer {
              background-color: #f2f2f2;
              padding: 25px;
          }

        .content {
            padding: 10px;
            margin-left: 100px;
            margin-right: 100px;

        }

    </style>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('task_index') }}" title="{{ 'action_view'|trans }}">
                        {{ 'Advertisements'|trans }}
                    </a></li>
                <li><a href="{{ url('category_index') }}" title="{{ 'action_view'|trans }}">
                        {{ 'Categories'|trans }}
                    </a></li>
                <li><a href="{{ url('task_create') }}" title="{{ 'action_view'|trans }}">
                        {{ 'Add your own advertisement'|trans }}
                    </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="glyphicon glyphicon-log-in"></span> {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <div>{{ app.user.email }}</div>
                            <div>
                                <a href="{{ url('app_logout') }}">{{ 'Log out'|trans }}</a>
                            </div>
                        {% else %}
                            <div>
                                <a href="{{ url('app_login') }}">{{ 'Log in'|trans }}</a>
                            </div>
                        {% endif %}</li>
            </ul>
        </div>
    </div>
</nav>
<div class="content">
{% block body %}
{% endblock %}
</div>

<footer class="container-fluid text-center">
    <p>Advertising page</p>
</footer>




{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        $('.dropdown-toggle').dropdown();
    </script>
{% endblock %}
</body>
</html>
